header {
    width: 100%;
    overflow: auto;
   padding: 30px;
    margin: 20px;
    color: #4aaaa5;
    background: #ccc;
 }

.box {
    background: #666666;
    height:30px;
    position: relative;
    width: 30px;

}
.box-1 {
    top: 0px;
    left: 0px;
}
.box-2 {
    top: 0px;
    left: 0px;
}
.box-3 {
    bottom: 0px;
    right:  0px;
}
.box-4 {
    bottom:0px;
    left: 0px;
}